body {
  background-color: #00a7a2;
  background-image: url("BackgroundPhoto.jpeg");
  background-attachment: fixed;
  background-position: center;
  color: #fefefe;
  font-family:'Times New Roman', Times, serif;
}


h1 {
font-size: 14rem;
margin-bottom: 27rem;
text-align: center;
}
p {
  font-size: 7rem;
  background-color: #00a7a2;
  padding: 5%;
}


